/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #4d4d4d;
  color: #e0e0e0;
}

/* Button Styles */
button {
  border-radius: 8px;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  background-color: #cbb2ff;
  color: #3b3b3b;
  height: 40px;
  border: none;
  padding: 0 20px;
}
button:hover {
  background-color: #555;
}
button:focus {
  outline: 2px solid #1e90ff;
}
button:active {
  transform: translateY(3px);
}

/* Image Styles */
#img {
  width: 120px;
  border: 2px solid #444;
  border-radius: 8px;
  margin: 10px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

/* Card Styles */
.card {
  border: 1px solid #333;
  border-radius: 12px;
  background-color: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  background-color: #2c2c2c;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 2000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form .form-group {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
  gap: 10px;
}

form input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ffffff00;
  background-color: #ffffff5e;
  color: #e0e0e0;
}

/* Adjust the button to span the full width of the form */
form button {
  width: 100%;
}

#oneplay {
  background-color: #2c2c2c;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 50%;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#players {
  background-color: #2c2c2c;
  border-radius: 8px;
  padding: 20px;
  padding-left: 70px;
  padding-right: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 300px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 10px;
}
